@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>This site is developed by 5th sem students,Computer branch,Dharamsinh desai university</p>
<ol>
    <li>Bhaumik Joshi</li>
    <li>Kaushal Italiya</li>
    <li>Deval Italiya</li>
</ol>
<address>
    <strong>Support:</strong>   <a target="_blank" href="mailto:moodlefreeforall@gmail.com">moodlefreeforall@gmail.com</a><br />
</address>