@model List<string>
@{
    ViewBag.Title = "Index";
}

<h2>Drag & Drop file upload </h2>
<div id="dropArea">
    <h4>Drop your files here</h4>
</div>
<br />
<h4>Uploaded files : </h4>

<ul class="list-group" id="uploadList">
    @foreach (var i in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(i, "Download", new { name = i })
            @Html.ActionLink("Delete", "Delete", new { name = i }, new { style = "color:red;float:right" })
        </li>
    }

</ul>

<style>
    #dropArea {
        background: #b5b5b5;
        border: black dashed 1px;
        height: 100px;
        text-align: center;
        color: #fff;
        padding-top:35px;
    }

    .active-drop {
        background: #77bafa !important;
        border: solid 2px blue !important;
        opacity: .5;
        color: black !important;
    }
</style>
   @section scripts{
   
     <script src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dropArea').filedrop({
                url: '@Url.Action("UploadFiles")',
                allowedfiletypes: ['image/jpeg','application/x-zip-compressed','text/plain', 'application/pdf', 'image/png','application/vnd.openxmlformats-officedocument.presentationml.presentation','image/gif'],
                allowedfileextensions: ['.jpg', '.jpeg', '.png','.zip','.pptx', '.gif','.pdf','.txt'],
                paramname: 'files',
                maxfiles: 5,
                maxfilesize: 5, // in MB
                dragOver: function () {
                    $('#dropArea').addClass('active-drop');
                },
                dragLeave: function () {
                    $('#dropArea').removeClass('active-drop');
                },
                drop: function () {
                    $('#dropArea').removeClass('active-drop');
                },
                afterAll: function (e) {
                    $('#dropArea').html('file(s) uploaded successfully');
                },
                uploadFinished: function (i, file, response, time) {
                    document.location.reload(true);
                }
            })
        })
    </script>

     }